@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

:root {
  --blue-050: #DCEEFB;
  --blue-100: #B6E0FE;
  --blue-200: #84C5F4;
  --blue-300: #62B0E8;
  --blue-400: #4098D7;
  --blue-500: #2680C2;
  --blue-600: #186FAF;
  --blue-700: #0F609B;
  --blue-800: #0A558C;
  --blue-900: #003E6B;

  --yellow-vivid-050: #FFFBEA;
  --yellow-vivid-100: #FFF3C4;
  --yellow-vivid-200: #FCE588;
  --yellow-vivid-300: #FADB5F;
  --yellow-vivid-400: #F7C948;
  --yellow-vivid-500: #F0B429;
  --yellow-vivid-600: #DE911D;
  --yellow-vivid-700: #CB6E17;
  --yellow-vivid-800: #B44D12;
  --yellow-vivid-900: #8D2B0B;

  /* Neutrals */
  --blue-grey-050: #F0F4F8;
  --blue-grey-100: #D9E2EC;
  --blue-grey-200: #BCCCDC;
  --blue-grey-300: #9FB3C8;
  --blue-grey-400: #829AB1;
  --blue-grey-500: #627D98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334E68;
  --blue-grey-800: #243B53;
  --blue-grey-900: #102A43;  

  /* Supporting */
  --cyan-050: #E0FCFF;
  --cyan-100: #BEF8FD;
  --cyan-200: #87EAF2;
  --cyan-300: #54D1DB;
  --cyan-400: #38BEC9;
  --cyan-500: #2CB1BC;
  --cyan-600: #14919B;
  --cyan-700: #0E7C86;
  --cyan-800: #0A6C74;
  --cyan-900: #044E54;  

  --red-050: #FFEEEE;
  --red-100: #FACDCD;
  --red-200: #F29B9B;
  --red-300: #E66A6A;
  --red-400: #D64545;
  --red-500: #BA2525;
  --red-600: #A61B1B;
  --red-700: #911111;
  --red-800: #780A0A;
  --red-900: #610404;
  
  /* font sizes system */
  --font-1: 12px;
  --font-2: 16px;
  --font-3: 20px;
  --font-4: 24px;
  --font-5: 30px;

  /* div widths system */
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 24px;
  --size-6: 32px;
  --size-7: 48px;
  --size-8: 64px;
  --size-9: 96px;
  --size-10: 128px;
  --size-11: 192px;
  --size-12: 256px;
  --size-13: 384px;
  --size-14: 512px;
  --size-15: 768px;
}

#notebook {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#notebook-container {
  flex-grow: 1;
  margin-left: 10pt;
  margin-right: 0pt;
  width: 10%;
}

#midas-floater-container {
  overflow: scroll;
  /* text-align: center; */
  width: 100%;
  max-height: 100%;
  padding-right: 20px;
}

/* begin selection related */

#selection-shelf {
  height: 50%;
  background-color: var(--blue-100);
  text-align: center;
}

.editable-text-header {
  background-color: var(--blue-050);
  border: 2px solid var(--blue-050);
}

.active-selection-item {
  border: 2px solid var(--blue-500);
}

.reset-button {
  margin-top: var(--size-1);
  border-radius: var(--size-1);
  background-color: var(--red-050);
  color: var(--red-300);
  text-align: left;
  border: 2px solid var(--red-050);
  margin-bottom: var(--size-2);
}

.midas-header-options :hover {
  cursor: pointer;
}

.reset-button :hover {
  border: 2px solid var(--red-200);
}

/* end selection related */

#notebook {
  padding-left: 10pt;
  padding-right: 0pt;
}

.hide-btn {
  float: right;
}


.reload-btn {
  float: right;
}

.midas-element {
  margin-bottom: 10pt;
  background: white;
}

#midas-floater-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}

#midas-floater-wrapper .header {
  font-size: 16px;
  font-weight: bold;
  background-color: antiquewhite;
}

.editable-text-button {
  margin-left: 5pt;
  padding: 5px;
  background-color: var(--red-100);
  border-radius: 5px;
} 


.editable-text-title, .selection-column-name {
  font-size: 0.9em;
  align-self: left;
  flex-grow: 1;
}

.shelf-item {
  /* width: 100%; */
  height: 20px;
  padding: 2.5pt;
  margin: 2.5pt;
  display: flex;
  box-shadow: 0 3px 2px -2px var(--blue-grey-500);
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}

.column-item-header:hover {
  /* transform: scale(1.2); */
  border: 2px solid var(--yellow-vivid-400);
}


.column-item-header {
  background-color: var(--yellow-vivid-050);
  border: 2px solid var(--yellow-vivid-050);
}

/* .midas-shelf-selection-item {
  width: 100%;
  display: flex;
  align-items: center;
} */

.profiler-table {
  margin: var(--size-1);
  padding: var(--size-1);
  background-color: var(--yellow-vivid-400);
  border-radius: var(--size-1);
}

.profiler-table-name {
  font-size: var(--font-3);
  font-weight: 800;
  color: var(--yellow-vivid-900);
}

/* float around */
#profiler-shelf {
  position: absolute;
  /* min-height: 200px; */
  background-color: var(--yellow-vivid-100);
  cursor: grab;
  /* overflow: scroll; */
}


.code {
  font-family: 'Courier New', Courier, monospace;
}

.card {
  text-align: left;
  margin: var(--size-2);
  padding: var(--size-2);
  border: 1px solid var(--cyan-100);
  box-shadow: 0 3px 2px -2px var(--blue-grey-100);
  border-radius: var(--size-2);
  min-width: fit-content;
  max-width: fit-content;
}

.shelf {
  padding: var(--size-1);
}

.landing-card {
  background-color: white;
  color: var(--blue-600);
}

.midas-title {
  align-self: left;
}

.chart-btns {
  align-self: center;
  margin-right: 0;
  font-family: monospace;
}

/* have fading animation */
/* note that we need to coodinate with ALERT_ALIVE_TIME */
/* .midas-alert {
  animation: logo-animation linear 10s;
} */

@keyframes logo-animation{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.9;
  }
  80% {
    opacity:0.7;
  }
  100% {
    opacity:0.1;
  }
}

.midas-alerts-error {
  background-color: var(--red-400);
  color: var(--red-050);
}

.midas-alerts-confirm {
  background-color: var(--yellow-vivid-300);
  color: var(--yellow-vivid-050);
}

.midas-sortable-list {
  list-style-type: none;
}

.drag-handle {
  cursor: grab;
  font-family: monospace;
}

.close-btn {
  cursor: pointer;
  padding-left: 5px;
}

.notification-btn {
  font-family: monospace;
  border: 2px solid white; /* Green */
  background-color: transparent;
  opacity: 0;
  color: white;
  margin-left: 5pt;
  margin-right: 1pt;
  border-radius: 50%;
}

#midas-sidebar-wrapper {
  width: var(--size-15);
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: var(--size-4);
  margin-right: var(--size-4);
  box-shadow: 0 0 var(--size-1) var(--blue-grey-100);
}

#midas-inside {
  background-color: var(--blue-grey-050);
  position: fixed;
  height: 91%;
  margin: 0 10px 0 10px;
  /* overflow: scroll; */
  /* display: flex; */
}


#midas-resizer {
  position: fixed;
  z-index: 120;
  height: 100%;
  width: var(--size-4);
  background-color: rgba(0, 0, 255, 0);
  cursor: col-resize;
}


.close-chart-btn {
  color: rgba(0, 0, 0, 0.5);
}

.close-chart-btn:hover {
  color: rgba(0, 0, 0, 1);
}

a.tip span {
  display: none
}

a.tip:hover {
  position: relative
}

a.tip:hover span {
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    left: 0px;
    margin: var(--size-2);
    background-color: var(--blue-grey-050);
    /* width: 250px; */
    position: absolute;
    top: 10px;
    text-decoration: none
}

/* deprecated */
#midas-midbar {
  width: var(--size-11);
  /* background-color: var(--blue-100); */
  background-color: var(--yellow-vivid-100);
  box-sizing: border-box;
  overflow-y: auto;
}

/* header */
.midas-header-button {
  margin: var(--size-1);
  border-radius: var(--size-1);
  background-color: var(--blue-grey-100);
  color: var(--blue-grey-300);
  border: 2px solid var(--blue-grey-300);
}

.midas-header-button :hover {
  border: 2px solid var(--blue-grey-500);
}


.midas-header-options {
  margin-left: auto;
  margin: 5pt;
  cursor: pointer;
}

.midas-header {
  width: 100%;
  position: relative;
  align-items: center;
  background-color: var(--blue-grey-050);
}

.midas-header details:not([open]) > :not(summary) {
  display: none !important;
}

.midas-header summary {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  z-index: 1000;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  color: #1b1e23;
  border: 1px solid #aaa;
  border-radius: 999px;
  opacity: 0.2;
  transition: opacity 0.4s ease-in;
  outline: none;
  cursor: pointer;
  line-height: 0px;
}

.midas-header summary::-webkit-details-marker {
  display: none;
}
.midas-header summary:active {
  box-shadow: #aaa 0px 0px 0px 1px inset;
}
.midas-header summary svg {
  width: 14px;
  height: 14px;
}
.midas-header details[open] summary {
  opacity: 0.7;
}
.midas-header:hover summary, .midas-header:focus summary {
  opacity: 1 !important;
  transition: opacity 0.2s ease;
}

.midas-chart-action {
  position: absolute;
  top: 35px;
  z-index: 100;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d9d9d9;
  background: white;
  animation-duration: 0.15s;
  animation-name: scale-in;
  animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

.midas-chart-action a {
  padding: 3px 8px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #434a56;
  text-decoration: none;
}

.midas-chart-action a:hover {
  background-color: #f7f7f9;
  color: black;
}


.midas-chart-action::before {
  content: "";
  display: inline-block;
  position: absolute;  
}
.midas-chart-action::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.midas-chart-action::before {
  left: auto;
  right: 14px;
  top: -16px;
  border: 8px solid #0000;
  border-bottom-color: #d9d9d9;
}

.midas-chart-action::after {
  left: auto;
  right: 15px;
  top: -14px;
  border: 7px solid #0000;
  border-bottom-color: #fff;
}
