#midas-floater-wrapper {
  /* position: fixed !important; */
  /* top: 97.5pt; */

  margin-right: 20pt;
  /* border-radius: 5px; */
  /* z-index: 100; */
  display: flex;
  flex-direction: row;
  /* overflow:hidden; */
  /* max-height: 86%; */
  /* float: right; */
  width: 400pt;
  /* min-width: 600pt; */
}

#midas-react-wrapper {
  border: thin solid rgba(0, 0, 0, 0.38);
  position: fixed;
  padding:10px;
  margin-left: 10pt;
  background-color: #fff;
  display: flex;
  overflow:hidden;
  max-height: 87%;
  float: right;
  /* min-width: 600pt; */
}


#resizer {
  position: fixed;
  z-index: 120;
  height: 100%;
  width: 10pt;
  background-color: rgba(0, 0, 255, 0);
  cursor: ew-resize;
}

#notebook {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#notebook-container {
  flex-grow: 1;
  margin-left: 10pt;
  margin-right: 0pt;
  width: 10%;
}

#midas-floater-container {
  overflow: scroll;
  text-align: end;
  width: 100%;
  max-height: 100%;
  padding-right: 20px;
}

#notebook {
  padding-left: 10pt;
  padding-right: 0pt;
}

.hide-btn{
  float: right;
}


.reload-btn{
  float: right;
}

.midas-element {
  margin-bottom: 10pt;
}

/* .col-md-9 {
  overflow:hidden;
  margin-left: 14%;
  width: 80%
} */

#midas-floater-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#midas-floater-wrapper .header {
  font-size: 16px;
  font-weight: bold;
  background-color: antiquewhite;
}

.midas-header-button {
  font-family: monospace;
  margin-left: 2pt;
  margin-right: 2pt;
}

.midas-header-options {
  margin-left: auto;
}

.midas-header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color:#F7F7F7;
}

.midas-title {
  align-self: left;
  margin: 5pt;
}

.chart-btns {
  align-self: center;
  margin-right: 0;
  font-family: monospace;
}

.midas-alerts-error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: left;
}

.midas-alerts-error {
  padding: 20px;
  background-color: green;
  color: white;
  text-align: left;
}

.midas-sortable-list {
  list-style-type: none;
}
.drag-handle {
  cursor: grab;
  font-family: monospace;
}
