#midas-floater-wrapper {
  position: fixed !important;
  top: 97.5pt;
  right: 10pt;
  /* border: thin solid rgba(0, 0, 0, 0.38); */
  /* border-radius: 5px; */
  padding:10px;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  max-height: 80%;

  float: right;
  width: 35%;
  /* min-width: 600pt; */
}


#midas-floater-wrapper-scroll {
  /* position: fixed !important; */
  /* top: 97.5pt; */
  /* right: 10pt; */
  /* border: thin solid rgba(0, 0, 0, 0.38); */
  /* border-radius: 5px; */
  padding:10px;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  max-height: 80%;

  float: right;
  width: 35%;
  /* min-width: 600pt; */
}

#notebook-container {
  float: left;
  width: 64%;
}

#midas-floater-container {
  overflow:scroll;
  text-align: end;
  width: 100%;
  max-height: 100%;
  padding: 20px;
}

#notebook {
  padding-left: 10pt;
  padding-right: 10pt;

}

.hide-btn{
  float: right;
}


.reload-btn{
  float: right;
}

.midas-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-md-9 {
  overflow:hidden;
  margin-left: 14%;
  width: 80%
}

#midas-floater-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#midas-floater-wrapper .header {
  font-size: 16px;
  font-weight: bold;
  background-color: antiquewhite;
}

.delete-button {
  align-self: right;
  margin-right: 0;
  font-family: monospace;
}
